@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #f8bb15;
    font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 1rem 1rem;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

input {
    width: 100%;
}

input:focus {
    outline: none !important;
}

input[type=number] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    padding: 1rem;
}

.next-page,
.previous-page,
.current-page,
.item,
#description,
.field-validation-error,
input[type=number],
input[type=submit] {
    display: block;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
}

.next-page,
.previous-page,
input[type=submit] {
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

input[type=submit] {
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

input[type=submit]:hover {
    color: #f8bb15
}

.banner {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Slabo 27px' Arial, Helvetica, sans-serif;
    color: white;
    font-size: 7.5rem;
    font-weight: 900;
    letter-spacing: 25px;
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.error {
    background-color: red;
    color: white;
}

.fizz {
    color: blue;
}

.buzz {
    color: green;
}

#results {
    margin-top: 1rem;
}

.current-page,
#description {
    background-color: #6c6c6c;
    color: white;
}

#items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.item {
    background-color: #f1f1f1;
}


.item:nth-child(odd) {
    background-color: #dfdfdf;
}

.pager {
    width: 100%;
}

.page-links {
    display: flex;
}

.next-page,
.previous-page {
    -o-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background-color: black;
    color: white;
    text-decoration: none;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.next-page {
    text-align: right;
}

.pager .disabled {
    color: #6c6c6c;
}

.pager .disabled:hover {
    cursor: default;
    color: #6c6c6c;
}

a.next-page:hover,
a.previous-page:hover {
    background-color: #363636;
}

